/**
 * Generic
 */

body {
    font-family: 'Futura', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    max-width: 840px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;

    @include breakpoint(bp2) {
        font-size: 18px;
    }
}

blockquote.twitter-tweet {
    opacity: 0;
}

.twitter-tweet-rendered {
    position: relative !important;
    right: -2px;
}

.appstore {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 54px;
}
