/**
 * Generic
 */

body {
    font-family: 'Futura', Helvetica, sans-serif;
}

.wrap {
    max-width: 840px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote.twitter-tweet {
    opacity: 0;
}

.twitter-tweet-rendered {
    position: relative !important;
    right: -2px;
}
