/**
 * Intro Section
 */

.logo {
    position: absolute;
    left: 50%;
    margin-left: -420px;
}

.section__headline--intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #F8C90E;
}

.section__headline--intro > span {
    color: #CD6CC3;
}

.intro__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
