/**
 * Sections
 */

.section {
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.section--intro {
    padding-top: 30px;
    background-color: $purple;
}

.section--preview {
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: $beige;
}

.section--howto {
    padding-top: 150px;
    padding-bottom: 135px;
    background-color: #4DBAA6;

    @include breakpoint(bp2) {
        padding-top: 120px;
        padding-bottom: 110px;
    }
}

.section--outro {
    padding-top: 200px;
    padding-bottom: 80px;
    background-color: $red;

    @include breakpoint(bp2) {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}

.section__headline {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(bp2) {
        margin-bottom: 20px;
        font-size: 24px;
    }
}
