/**
 * Intro Section
 */

.logo {
    margin-bottom: 35px;

    @include breakpoint(bp2) {
        margin: 0 auto 50px;
    }
}

.section__headline--intro {
    color: #F8C90E;
}

.section__headline--intro > span {
    color: #CD6CC3;
}

.intro__img {
    margin: 65px auto 0;

    @include breakpoint(bp2) {
        margin-top: 25px;
    }
}
