/**
 * Outro Section
 */

.section__headline--outro {
    color: #FFF034;
}

.section__headline--outro > span {
    color: #D13031;
}

.outro-information {
    margin-top: 170px;
    color: #D13031;
    font-size: 15px;
    text-align: center;

    @include breakpoint(bp2) {
        margin-top: 140px;
    }
}

.outro-information > a {
    color: #D13031;
}

.outro-information > a:hover {
    text-decoration: none;
}
